
























<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

    
        <!-- ceproc.ok -->
    
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    

    <head>
        <title>e-GP Platform - Clarifications</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <meta name="Description" content="e-Procurement platform home page"/>
		<meta content="e-Procurement platform - Home page" name="Title"/>
		<meta content="57" name="Type"/>
		<meta content="DOCUMENTS/COMM/EN" name="Reference"/>
		<meta content="European Dynamics" name="Creator"/>
		<meta name="Language" content="En"/>
		<meta content="25" name="Classification"/>
		<meta content="tenders, e-procurement, documents, european law, legislation, economic operator, tenderer, procurement, contract, contracting authority, supplier, awarding authority, institutions, european union, eu" name="Keywords"/>
        

        <link rel="shortcut icon"   type="image/ico" href="images/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="/epps/css/screen.css" media="screen, projection" />
        <!--[if IE]>
        <link rel="stylesheet"	type="text/css" href="/epps/css/ie-fix.css" media="screen, projection" />
        <![endif]-->
        <!--[if IE 7]>
        <link rel="stylesheet"	type="text/css" href="/epps/css/ie-fix-7.css" media="screen, projection" />
        <![endif]-->
        <!--[if lt IE 7]>
        <link rel="stylesheet"	type="text/css" href="/epps/css/ie-fix-lt7.css" media="screen, projection" />
        
        <script type="text/javascript" src="/epps/scripts/buttonfix.js"></script>

        <![endif]-->
        
        <link rel="stylesheet" type="text/css" href="/epps/css/font-awesome.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/epps/css/font-awesome.min.css" media="screen" />          
        <link rel="stylesheet" type="text/css" href="/epps/css/print.css" media="print" />
        
        <script type="text/javascript" src="/epps/scripts/jquery.min.js"></script>
        <script type="text/javascript" src="/epps/scripts/jquery-migrate-1.2.1.js"></script>
        <script type="text/javascript" src="/epps/scripts/jquery.formatCurrency-1.4.0.min.js"></script>
       	<script type="text/javascript"> 
			var RESULTS_PER_PAGE_LITERAL = 'Results per page'; 
         	var GOTO_PAGE_LITERAL = 'Goto page'; 
            var INVALID_CHARACTERS = '<>&%';
		</script>
        <script type="text/javascript" src="/epps/scripts/common.js"></script>
        <script type="text/javascript">
        //<![CDATA[
        var $j = jQuery.noConflict();
        //]]>
        </script>

        <script type="text/javascript">
        //<![CDATA[
        jQuery(function($){
            $.datepicker.regional["en"] = {
                clearText: "Clear", 
                clearStatus: "Erase the current date",
                closeText: "Close", 
                closeStatus: "Close without change",
                prevText: "&#x3c;Prev", 
                prevStatus: "Show the previous month",
                nextText: "Next&#x3e;", 
                nextStatus: "Show the next month",
                    currentText: "Today", 
                    currentStatus: "Show the current month",
                    monthNames: ["January","February",
                                "March", "April",
                                "May","June",
                                "July","August",
                                "September", "October",
                                "November","December"],
                    monthNamesShort: ["Jan", "Feb", 
                                "Mar", "Apr", 
                                "May", "Jun", 
                                "Jul", "Aug", 
                                "Sep", "Oct", 
                                "Nov", "Dec"],
                    monthStatus: "Show a different month", 
                    yearStatus: "Show a different year",
                    weekHeader: "Wk", 
                    weekStatus: "Week of the Year",
                    dayNames: ["Sunday", "Monday", 
                        "Tuesday", "Wednesday", 
                        "Thursday", "Friday", 
                        "Saturday"],
                    dayNamesShort: ["Sun", "Mon", 
                        "Tue", "Wed", 
                        "Thu", "Fri", 
                        "Sat"],
                    dayNamesMin: ["Su","Mo",
                        "Tu", "We",
                        "Th","Fr",
            "Sa"],
                    dayStatus: "Set DD as first week day", 
                    dateStatus: "Select DD, M d",
                    dateFormat: "mm/dd/yy", 
                    firstDay: 1, 
                    initStatus: "Select a Date", isRTL: false};
                $.datepicker.setDefaults($.datepicker.regional["en"]);
            }); 
        //]]>
        </script>
        <script type="text/javascript" src="/epps/scripts/jquery.cookie.js"></script>
        <script type="text/javascript" src="/epps/scripts/popup.js"></script>
        <script type="text/javascript" src="/epps/scripts/tender.structure.js"></script>	
        <script type="text/javascript" src="/epps/scripts/add.criteria.js"></script>
        <script type="text/javascript" src="/epps/scripts/ui.datepicker.js"></script>
        <script type="text/javascript" src="/epps/scripts/jqComm.js"></script>
        <script type="text/javascript" src="/epps/scripts/tabber-minimized.js"></script>
        <script type="text/javascript" src="/epps/scripts/jqForm.js"></script>
        <script type="text/javascript" src="/epps/scripts/jqTableSet.js"></script>
        <script type="text/javascript" src="/epps/scripts/jqModal.js"></script>
        <script type="text/javascript" src="/epps/scripts/jqDnR.js"></script>
        <script type="text/javascript" src="/epps/scripts/staticValidatorScript.js"></script>
        <script type="text/javascript" src="/epps/scripts/iframe.js"></script>
        <script type="text/javascript">
	        /*@cc_on
			if (document && document.execCommand) {
				try { 
					document.execCommand("BackgroundImageCache",false, true); 
				}
				catch (e) {}
			}
			@*/
        </script>	
        
        <script type="text/javascript">
        //<![CDATA[
        $j('document').ready(function(ev){
			$j('#Content').showHideMenu("/epps");
			$j('.Menu').showHideBox();
            $j('#ToggleSubmenu').toggleCfTVisibility({hide:"Hide Menu", show:"Show Menu"});	
            $j("#ShowCFTInfo").toggleNextDiv();					
            $j('.tabber').tabify();
            $j('.lottabber').tabify({ MenuClass:'ScrollList', ActiveClass:'Selected'});
             $j('.lotstabber').tabify({ MenuClass:'LotList', ActiveClass:'Selected'});
            $j("table").tableZebra();
            $j('.countdown').textCountdown({remaining_text: " remaining characters"});
            $j("button[id='MClose']").hideAlert();
            $j("form").prepareForm();
        });

        function jcv_handleErrors(messages, focusField) {
            if (focusField && focusField != null) {
                var doFocus = true;
                if (focusField.disabled || focusField.type == 'hidden') {
                    doFocus = false;
                }
                if (doFocus &&
                        focusField.style &&
                        focusField.style.visibility &&
                        focusField.style.visibility == 'hidden') {
                    doFocus = false;
                }
                if (doFocus) {
                    focusField.focus();
                }
            }

            if ($j("#Message")) {
                $j("#Message").remove();
            }
            var mesagesCont = document.createElement("div");
            $j(mesagesCont)
                .attr("id", "Message")
                .addClass("Error");
            var errorMSG = document.createElement("p");
            $j(errorMSG)
                .html("<strong>An error has occurred:</strong>");
            var msg = document.createElement("ul");
            for (i=0; i< messages.length; i++){
                $j(msg)
                    .append("<li>" + messages[i] + "</li>");
            }
            var closeP = document.createElement("p");
            $j(closeP)
                .addClass("Buttons")
                .html("<button id=\"MClose\" type=\"submit\">Close</button>");
            $j(mesagesCont)
                .append(errorMSG)
                .append(msg)
                .append(closeP);
            $j(mesagesCont).find("button").click(function() {
                $j("#Message").remove();
            });
            $j("#Content h2")
                .after(mesagesCont);
        } 
        //]]>
        </script>	
        
        <script type="text/javascript">
        //<![CDATA[
        $j("document").ready(function(ev){
			// fix IE7/IE6 pagination issue
        	$j("div .THSort").each(function() {
        		try {
	        		var hrefValue = $j(this).parent("a").attr("href");
					if (hrefValue != null && hrefValue.indexOf("javascript:" != -1)) {
						var sJsFunction = hrefValue.substring("javascript:".length, hrefValue.length);
						var jsFunction = new Function(sJsFunction);
						$j(this).children("img").click(jsFunction);
					}
        		} catch (err) {}
        	});
        });
        //]]>
        </script>	
        
		<script type="text/javascript">

			function setParentHref(link){
				 window.location.href=link;
			}
		</script>
    </head>
	
    <body>
    
    	










    	
        <div id="Container">
            





<div id="YPOLogo">
	<h1 title="Electronic Tendering System">e-GP Platform <span></span></h1>
</div>
<!-- YPOLogo // -->


<div id="SystemTitle">
	<p>Electronic Tendering</p>
</div>
<!-- SystemTitle // -->


            







<script type="text/javascript" language="JavaScript">
//<![CDATA[
function openPopup(url) {    
    newwindow=window.open(url,'name','height=550,width=810,scrollbars=yes,resizable=yes,left=60,top=10');
    if (window.focus) {
        newwindow.focus();
    } 
}

    $j('document').ready(function(ev){
    	$j("a.PopUp").click(function(){
    		PopUpOpts = {
        		windowname: 'popupwindow',
        		width:		810,
        		height:		600,
        		scroll:		1,
        		resizable:	0
        	};
           	$j(this).PopUp(this.href, PopUpOpts); 
            return false; 
        }); 
    })    
//]]>
</script>




<div id="GlobalNav">
    <ul>
        

        <li class="First" id="Homepage">
            <a href="/">Homepage</a>
        </li>
        <li id="About">
            <a href="/epps/DisplayHeaderStaticTextAction.do" class="PopUp">About</a>
        </li>
        <li id="FAQ">           
             <a href="/epps/viewInfo.do?selectedItem=viewInfo.do%3Fsection%3Dfaq&amp;section=faq">Frequently Asked Questions</a>
        </li>
        <li id="Help">
            <a href="/epps/viewInfo.do?isPopup=true&amp;section=userManual" class="PopUp">User Manuals</a>
        </li>
        
        <li class="Last" id="Contact">
            <a href="/epps/PrepareContactUsAction.do" class="PopUp">Contact Us</a>
        </li>
    </ul>
</div><!-- Global_nav // -->

            










<script type="text/javascript">
	function checkSubmit() {
		var	quicSearchForm = document.forms["quickSearchForm"];
		var col = document.getElementsByName("searchSelect")[0];
		if (col.selectedIndex != 0) {
			if(checkInputField(quicSearchForm))quicSearchForm.submit();
    	}
    	return false;
	}
	
	function checkInputField(form){
		var input = form[1].value;
		if(containForbidenChars(input)){
			form[1].value = '*';
			alert("An invalid character was provided for search. Invalid characters include: <, >, &, % .");
			return false;
		}
		return true;
	}
	
	function containForbidenChars(input){
    	return input.indexOf("<")!=-1 || input.indexOf(">")!=-1 || input.indexOf("%")!=-1 || input.indexOf("&")!=-1;
    }
	
	$j(document).ready(function(){
		$j('#SearchInput').mouseover(function() {
		   $j(this).attr('title', "Tip: provide a relevant term within asterisks, eg. *consultancy*");

	  	});
	});
	
	function advancedSearch() {
        if(true){
            window.location.href = "/epps/prepareAdvancedSearch.do?type=cftFTS";
        } else {
            window.location.href = "/epps/prepareAdvancedSearch.do?type=cft";
        }
    }

</script>




<div id="Search">
    <p class="Time" id="time"> 
        17:25:24 CAT
    </p>
        
    <form id="quickSearchForm" method="post" action="/epps/quickSearchAction.do" onsubmit="javascript: return checkSubmit()" target="_self">
        <p>
            <label for="SearchSelect">Search:</label> 
            <select name="searchSelect"><option value="Select...">Select</option>
                
                
                    
                    
                      <option value="6">Tenders</option>
                    
                
                <option value="2">Organisation</option>
				  
				
				<option value="5">Plan</option></select>
            <input type="text" name="searchInput" value="" id="SearchInput" class="Text" />
            <input type="submit" value="Search" class="SearchBTN" />
            <button type="button" onclick="advancedSearch();" class="AdvancedSearchBTN">Advanced Search</button>
            
            <a href="/currentTenders">Current Tenders</a>
        </p>
    </form>
    

	 
</div><!-- Search -->


            <div id="Main">
                <div id="Navigation">
                    
















<script type="text/javascript">
$j(document).ready(function() {

     $j('#loginButton').click(function(event) {
            $j.cookie('loginButton', null);
            $j.cookie('loginButton', 'enabled');
            if ($j.cookie('loginButton')) {
            } else {

              $j.cookie('loginButton', null);
              
              alert("Please enable session cookies for using this site with your web browser.");
              event.preventDefault();
            }
          });

});

$j(document).ready(function () {
    $j("#Username").attr("autocomplete","off");
    });


</script>




<div class="Menu">
    <p><span>Log In</span></p>
    <div class="MenuContent" id="LoginMenuContent">
    
        
        
            <ul>
                <li>
                    <a href="/epps/authenticate/login">Log In</a>
                </li>
            </ul>
        
        
        

        <ul>
            <li>
                <a href="/epps/forgotPassword.do">Forgot your password?</a>
            </li>
            <li>
                <a href="/epps/prepareRegisterEOOrg.do?registerEO=true">Register as a Supplier</a>
            </li>
        </ul>
    

     
    
	    <ul>
	        <li><a href="https://eprocure.zppa.org.zm/cpms">e-Contracts</a></li>
        </ul>    
    </div>
</div>


















<script type="text/javascript">
<!--
$j('document').ready(function(ev){
	var contextRoot = "/epps";
	var selectedItem = escape("null");
	$j('.MenuContent li').find('a').each(function() {
		var link = this.href;
		var item = escape(link.substring(link.indexOf(contextRoot) + contextRoot.length + 1));
		// check if this <a> is seleted item and add css class 'Selected'
		if (item == selectedItem) {
			$j(this).parent().addClass('Selected');	
		}
		// prepare links
		if (link.indexOf('?') != -1) {
			this.href = link + '&selectedItem=' + item;
		} else {
			this.href = link + '?selectedItem=' + item;
		}
	});
});
	
//-->
</script>
















<div class="Menu">
    <p><span>Information</span></p>
    <div class="MenuContent" id="InfoMenuContent">
        <ul>
    
         
	       	
	        
	        <li>
 				<a href="/epps/app/viewPublication.do">Annual Procurement Plan Publication</a>
        	</li>
	        
	        <li>
                <a href="/currentTenders">Current Tenders</a>
            </li>
        	
        	<li>
        	   
   			 <a href="/epps/notices/viewPublishedNotices.do?formId=301">Upcoming Tenders</a>  
   			 </li>
        	<li>
 				<a href="/viewOpenedTenders">Opened Bid Details</a>
        	</li>
        	
            <li>
               <a href="/epps/viewInfo.do?section=newItems">News</a>
            </li>

            
            <li>
              <a href="/epps/viewInfo.do?section=faq">Frequently Asked Questions</a>
            </li>
            <li>
            	<a href="/epps/viewInfo.do?section=legal">Electronic Public Procurement</a>
            </li>
            <li>
            	<a href="/epps/viewInfo.do?section=eproc">Procurement Legislation</a>
            </li>
            <li>
            	<a href="/epps/viewInfo.do?section=statistics">Statistics</a>
            </li>
            <li>
            	<a href="/epps/viewInfo.do?section=links">Relevant Links</a>
            </li>
            <li>
            	<a href="/epps/viewInfo.do?section=calendar">Events Calendar</a>
            </li>
            <li>
                <a href="/epps/viewInfo.do?section=userGuides">User Guides</a>
            </li>
            <li>
                <a href="/epps/viewInfo.do?section=eLearning">e-Learning Materials</a>
            </li>                        
            
         	
        </ul>
    </div><!-- MenuContent -->
</div><!-- Menu // -->



                </div><!-- Navigation -->

                <div id="Content">
                	




<noscript>
	<div class="NoScript">
		<p>To enjoy the full functionality of this application, please ensure that Javascript is enabled in your browser.</p>
	</div>
</noscript>


                    

















                    
                        
                    






	
	<h2>Clarifications</h2>



                    















    <div id="Message" class="Info">

        
            <p>There are no Clarifications made.</p>		
        
        
        <p class="Buttons">
            <button id="MClose" type="submit" title="Close">Close</button>
        </p>
    </div><!-- Message // -->









                    




















<script type="text/javascript"> 
  function associateUserToQdownload(questionId){
  	var popUpCheck=document.getElementById('poupCondition').value;
	if(popUpCheck == 'showPopUp'){
	   window.open("/epps/cft/prepareAssociateUser.do?resourceId="+8530743+"&documentId="+questionId+"&action=ListClarificationAction",'About','toolbar=no,resizable=no,scrollbars=yes,width=600,height=390,top=50,left=50');
	}else{
	   window.location="/epps/cft/downloadClarificationAttachment.do?resourceId=8530743&documentId="+questionId;
	}
  }
  
  function associateUserToDownloadAnswer(answerId){
    var popUpCheck=document.getElementById('poupCondition').value;
	if(popUpCheck == 'showPopUp'){
      window.open("/epps/cft/prepareAssociateUser.do?resourceId="+8530743+"&documentId="+answerId+"&action=ListClarificationAction",'About','toolbar=no,resizable=no,scrollbars=yes,width=600,height=390,top=50,left=50');
    }else{																		
      window.location="/epps/cft/downloadClarificationAttachment.do?resourceId=8530743&documentId="+answerId;
    }
  }
  function download(btn){
  	var popUpCheck=document.getElementById('poupCondition').value;
   	if(popUpCheck == 'showPopUp'){
		window.open("/epps/cft/prepareAssociateUser.do?resourceId="+8530743+"&resourceType=cftClarification&action=DownloadCftResourceItemsAction",'About','toolbar=no,resizable=no,scrollbars=yes,width=600,height=390,top=50,left=50');
   	}else{
   	 	btn.disabled=true;
    	window.location.href="/epps/cft/downloadCftResourceItems.do?resourceId="+8530743+"&resourceType=cftClarification";
    }
  }
	
  function userAssociation(){
	var popUpCheck=document.getElementById('poupCondition').value;
    if(popUpCheck == 'showPopUp'){
      window.open("/epps/cft/prepareAssociateUser.do?resourceId="+8530743+"&action=PrepareRequestForClarificationAction",'About','toolbar=no,resizable=no,scrollbars=yes,width=600,height=390,top=50,left=50');
    }else{																		
      window.location="/epps/cft/prepareRequestForClarification.do?resourceId="+8530743;
    }
  }
  function refreshParent(popUpWindowCondition){
	document.getElementById('poupCondition').value = popUpWindowCondition;
  }
</script>
<script type="text/javascript">
  //<![CDATA[
function ajaxAudit(text) {
	var title = text.substr(text.indexOf('.')+1);
	$j.ajax({
		type:"GET",
		url: '/epps/cft/auditReadResponse.do',
		data: {resourceId: '8530743', clrTitle: title},
		dataType: 'text',
		success: function(menu){},
		error: function(){
			alert('Error while trying to audit your viewing of Clarification');
		}
	})
}	
    
	$j('document').ready(function(ev){
    	$j(".Envelope").click(function(){
  			$j(this).toggleNextDivWithSigns();
  		});
    	
    });
    
  //]]>
</script>

	
  


<div class="ExtraInfo">
  <a href="#" id="ToggleSubmenu">Show Menu</a>	
  













<script type="text/javascript">
    //<![CDATA[
    $j('document').ready(function(ev){
        $j('#ToggleSubmenu').unbind("click");
        var clickedMenu = false;
        $j('#ToggleSubmenu').click(function(){
            if (($j("#Submenu li a:first").html() == "Loading....") && (clickedMenu == false)){
                clickedMenu = true;
                $j('#Submenu').retrieveCftMenu("/epps/common/commonAjaxCall.do", "requestType=cftMenu&resourceId=8530743&groupId=148160",
                {hide:"Hide Menu", show:"Show Menu"});
            }
            return false;
        }).bind("doubleclick", function(){
            return false;
        });
    });
    //]]>
</script>
<div class="Submenu" id="Submenu" style="z-index: 999">
	<ul>
		<li>
			<a href="#">Loading....</a>
		</li>
	</ul>
</div><!-- Submenu // -->
			
  











<p id="ShowCFTInfo">
		Tender:&nbsp;<strong>Tender for Supply and delivery of one (1) Brand New Motor Grader</strong>
        
	</p>
	<div id="MoreCFTInfo">
		<h3>Workspace Information</h3>
        













<dl class="Grid">
    
        <dt>Bid submission deadline in (days/hours):</dt>
        <dd>31/22</dd>
    
    <dt>Name of Procuring Entity:</dt> 
    <dd>
        <a href="/epps/prepareViewCAOrganisation.do?id=31952">LUPOSOSHI TOWN COUNCIL</a>
    </dd>
    
    
        <dt>APP Reference Number:</dt> 
        <dd>1010/31952/202412</dd>
    
    <dt>Tender Unique ID:</dt>
    <dd>31952/2/70/2024</dd>
    <dt>Title:</dt> 
    <dd>Tender for Supply and delivery of one (1) Brand New Motor Grader</dd>
    
    
    <dt>Description:</dt>
    <dd style="text-align:justify;">Procurement of Motor Grader</dd>
    
        <dt>Procurement Method Rationale:</dt>
        <dd style="text-align:justify;">Open Bidding National</dd>
    
    
        <dt>Award Criteria Details:</dt>
        <dd style="text-align:justify;">Best Evaluated Bidder</dd>
    
    
        <dt>Submission Method Details:</dt>
        <dd style="text-align:justify;">Online via e-GP System</dd>
    
    
    <dt>Procurement Type:</dt>
    <dd>Goods</dd>
    <dt>Procedure:</dt> 
    <dd>Open Bidding National</dd>
    
        <dt>Commencement Type:</dt> 
        <dd>Advertisement of Notice</dd>
    
    
        <dt>Threshold:</dt> 
        <dd>Below</dd>
    
    
        <dt>Procurement Technique:</dt>
        <dd>Invitation To Bid (ITB)</dd>
    
    
        <dt>Number of Stages:</dt>
        <dd>1</dd>
    
    
        <dt>Evaluation Mechanism:</dt>
        <dd>Least Cost Selection (LCS) </dd>
    
    
        <dt>CEEC Preference Type:</dt> 
        <dd>No Preference</dd>
    
    <dt>Framework Agreement Establishment:</dt>
    <dd>No</dd>
    
    <dt>Postqualification:</dt>
    <dd>No</dd>
    
        <dt>UNSPSC Codes:</dt>
        <dd>
            
                20100000-Mining and quarrying machinery and equipment<br/>
            
        </dd>
    
    
    
        <dt>Payment Type:</dt>
        <dd>Participation Fee Required</dd>
    
    
        <dt>Payment Amount&nbsp;(ZMW):</dt>
        <dd>1,000</dd>
    
    
        <dt>Payment Terms and Method:</dt>
        <dd style="text-align:justify;">Online via e-GP System</dd>
    
    
        <dt>Bid Security Type:</dt>
        <dd>Bid Securing Declaration Required</dd>
    
    
    
    <dt>Contract Awarded in Lots:</dt>
    <dd>No</dd>
    
    
        <dt>Deadline for Bid Submission:</dt>               
        <dd>10/09/2024 16:00:00</dd>
    
    
        <dt>End of Clarification Period:</dt>
        <dd>30/08/2024 16:00:00</dd>
    
    
        <dt>Bid Opening Date:</dt>
        <dd>10/09/2024 16:30:00</dd>
    
    
        <dt>Date of Publication/Invitation:</dt> 
        <dd>09/08/2024 13:08:19</dd>
    
    
    
        <dt>Contract Notice Date:</dt>
        <dd>09/08/2024 13:08:30</dd>
    
    
</dl>

<script type="text/javascript">

    var RESOURCE_ID = "8530743";
    var IS_MANUAL = false;
    var EXECUTING = false;

    function stopComplaints() {
   		var complaintDays = "10";
   		//Cannot use '\n' directly in application resources (it breaks the page), therefore use the 'replaceAll' instead
        var msg = "You are about to end the " + complaintDays + " days standstill period. Kindly ensure the following are in place:<br/>1. " + complaintDays + " working days have elapsed from the date of the start of the standstill period<br/>2. All issues brought forward during the standstill period have been resolved<br/>Are you sure you want to proceed to end the standstill period?"; 
        msg = msg.replaceAll("<br/>", "\n");
        if (confirm(msg)) {
            window.location.href = "/epps/eawarding/stopComplaint.do?resourceId=" + RESOURCE_ID;
        }
    }

    function editCFT() {
        if (IS_MANUAL) {
            window.location.href = "/epps/cft/prepareManualModifyCfT.do?resourceId=" + RESOURCE_ID;
        } else {
            window.location.href = "/epps/cft/prepareModifyCfT.do?resourceId=" + RESOURCE_ID;
        }
    }

    function cancelCFT() {
		if ($j('#cancelationReason').val() == '') {
			alert('Cancelation Reason is mandatory');
			return;
		}
		if (confirm("Are you sure you want to cancel this Tender?")) {
	        $j('#cancelCft').submit();
		}
    }

    function deleteCFT() {
        if (confirm("Are you sure you want to cancel this Tender?")) {
            window.location.href = "/epps/cft/cancelCFTWorkspace.do?resourceId=" + RESOURCE_ID;
        }
    }

    function startNewEvaluationCycle() {
        if (confirm("You are about to initiate a new evaluation cycle. This will entail a new round of tendering activities, such as definition of tender structure, dispatching of invitations, tender submission and tender evaluation. Please click OK to proceed initiating a new evaluation cycle, otherwise please click Cancel to abort.")) {
            document.getElementById("startNewCycle").setAttribute("disabled", true);
            window.location.href = "/epps/cft/createNewEvaluationCycle.do?resourceId=" + RESOURCE_ID;
        }
    }
    
    function award() {
        if (IS_MANUAL) {
            window.location.href = "/epps/cft/prepareManualAwarding.do?resourceId=" + RESOURCE_ID;
        } else {
            window.location.href = "/epps/eawarding/prepareViewAwarding.do?resourceId=" + RESOURCE_ID;
        }
    }

    function exportCompetition() {
        if (EXECUTING) {
            cftBeingProcessed(RESOURCE_ID);
        } else {
            window.location.href = "/epps/cft/exportCompetition.do?resourceId=" + RESOURCE_ID;         
        }
    }

    function archiveCompetition() {
        if (EXECUTING) {
            cftBeingProcessed(RESOURCE_ID);
        } else {
            window.location.href = "/epps/cft/prepareAcrhiveCft.do?resourceId=" + RESOURCE_ID;         
        }
    }

    function exportCfTInfo() {
        window.location.href = "/epps/cft/exportCfTInfo.do?resourceId=" + RESOURCE_ID;
    }

    function downloadCompetition() {
        window.location.href = "/epps/cft/downloadCompetition.do?resourceId=" + RESOURCE_ID;
    }

    function provideHardCopyInfo() {
        window.location.href = "/epps/cft/prepareHcInfo.do?resourceId=" + RESOURCE_ID;
    }

    function copyCft() {
        window.location.href = "/epps/cft/copyCftWorkspace.do?resourceId=" + RESOURCE_ID;
    }

    function exportRunning() {
        alert("Competition is currently being processed, please click on Refresh page button to check again.");
        window.location.href = "/epps/cft/prepareViewCfTWS.do?resourceId=" + RESOURCE_ID;
    }

    function cftBeingProcessed() {
        alert("Competition is currently being processed, please click on Refresh page button to check again.");
        window.location.href = "/epps/cft/prepareViewCfTWS.do?resourceId=" + RESOURCE_ID;
    }

    function reloadPage() {
        window.location.href = "/epps/cft/prepareViewCfTWS.do?resourceId=" + RESOURCE_ID;
    }
</script>
    </div>

</div><!-- ExtraInfo // -->	



  	<ul class="tabbernav">
        <li class="tabberactive">
          <a href="/epps/cft/listClarification.do?resourceId=8530743">Clarifications</a>
		</li>
		
		
	</ul>
	
<form name="ClarificationForm" action="" method="post">		
	<div class="tabbertab">
    	<input type='hidden' id='poupCondition' value=''/>
    	<input type="hidden" name='usertype' value="user.type.supplier"/>
    	
    	
    	
    	
    	 	
	</div>
</form>				
 						
                </div><!-- Content -->
                <div class="clear"></div>
            </div><!-- Main -->

            


<div id="Footer">
    <p id="UpdateInfo">	
	Last Update: 
	
	09 August 2024
        
    </p>
    <p id="CopyrightInfo">
        &copy;2024 Government of the Republic of Zambia. All rights reserved.		
    </p>
    <ul>

    </ul>
</div><!-- Footer // -->

            <br style="clear:both; width:100%;" />
        </div><!-- Container -->
    </body>
</html>
